Source: pic32-tools-452
Section: compilers
Priority: extra
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pic32-tools.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pic32-tools.git;a=summary

Package: pic32-tools-452
Architecture: any
Depends: 
Description: PIC32 Compiler for MX version 4.5.2
 Legacy PIC32 compiler for MX chips only.
 .
 This is GCC version 4.5.2 and includes Microchip PLIB for the compilation of older
 legacy code.
